* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "cabin", sans-serif;
}

body {
  height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  background-color: #feb47b;
  position: sticky;
  top: 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
header .header1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7.5px 20px;
  background-color: #ff7e5f;
}
@media screen and (max-width: 480px) {
  header .header1 {
    padding: 10px;
  }
}
header .header1 .social-links a {
  color: black;
}
header .header1 .social-links a svg {
  font-size: 25px;
  margin: 0 2px;
  cursor: pointer;
}
header .header1 .contact-links {
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 480px) {
  header .header1 .contact-links {
    flex-direction: column;
    gap: 3px;
  }
}
header .header1 .contact-links div {
  display: flex;
  align-items: center;
  gap: 5px;
}
header .header2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
@media screen and (max-width: 480px) {
  header .header2 {
    padding: 0 10px;
  }
}
header .header2 .logo {
  cursor: pointer;
}
header .header2 nav {
  display: flex;
  align-items: center;
  gap: 5px;
}
header .header2 nav .nav-links {
  display: flex;
}
@media screen and (max-width: 480px) {
  header .header2 nav .nav-links {
    position: fixed;
    flex-direction: column;
    top: 106px;
    width: 50%;
    background-color: #ff7e5f;
    z-index: 1;
  }
}
header .header2 nav .nav-links a {
  list-style: none;
  color: black;
  text-decoration: none;
  font-size: large;
  padding: 7.5px 20px;
  transition: 0.3s;
}
header .header2 nav .nav-links a:hover {
  background-color: #ff7e5f;
}
header .header2 nav .nav-links .active {
  background-color: #ff7e5f;
}
header .header2 nav .nav-links .has-submenu {
  display: flex;
  flex-direction: column;
  position: relative;
}
header .header2 nav .nav-links .has-submenu ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 170px;
  top: 100%;
  left: -3rem;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-1rem);
  transition-property: opacity, visibility, transform;
  transition-duration: var(--def-transition-duration);
  transition-timing-function: ease-in-out;
  transition: 0.3s;
}
header .header2 nav .nav-links .has-submenu ul a {
  cursor: pointer;
  background-color: #feb47b;
}
header .header2 nav .nav-links .has-submenu ul a:hover {
  background-color: #ff7e5f;
}
header .header2 nav .nav-links .has-submenu:hover ul {
  display: flex;
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  left: -1rem;
}
header .header2 nav .inactive {
  transform: translateX(100%);
}
header .header2 nav .active {
  transform: translateX(0%);
}
header .header2 nav .user-login {
  display: flex;
  align-items: center;
  gap: 5px;
}
header .header2 nav .user-login button {
  width: 100px;
  padding: 5px;
  background-color: #ff7e5f;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}
header .header2 nav .user-login button:hover {
  color: white;
  background-color: black;
}
header .header2 nav .user-login .profile {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
header .header2 nav .user-login .profile .profile-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff7e5f;
  width: 30px;
  height: 30px;
  border-radius: 25px;
  border: none;
}
header .header2 nav .user-login .profile .profile-icon svg {
  font-size: 15px;
}
header .header2 .burger {
  padding: 10px;
  display: none;
}
@media screen and (max-width: 480px) {
  header .header2 .burger {
    display: flex;
    cursor: pointer;
  }
}
header .header2 .burger svg {
  font-size: 25px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.overlay .popup {
  background-color: #feb47b;
  width: 300px;
  border-radius: 8px;
  position: relative;
  text-align: center;
}
.overlay .popup h2 {
  text-align: start;
  padding: 20px 20px 0;
}
.overlay .popup .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}
.overlay .popup .close-button:hover {
  border-radius: 30px;
}
.overlay form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}
.overlay form input {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}
.overlay form button {
  padding: 0.5rem;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
.overlay form button:hover {
  background-color: #0056b3;
}
.overlay p {
  margin-top: 0.1rem;
  cursor: pointer;
  padding: 1rem;
  background-color: #ff7e5f;
  border-radius: 0 0 8px 8px;
}
.overlay p:hover {
  text-decoration: underline;
  background-color: black;
  color: white;
}

.home .hero {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.home .carousel-slide {
  position: absolute;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  width: 100%;
  height: 100%;
}
.home .carousel-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home .active {
  opacity: 1;
}

.blog {
  padding: 7.5px 20px;
}
.tours {
  padding: 20px;
}
.tours .search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 5px;
}
.tours .search-bar input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #feb47b;
}
.tours .search-bar div {
  background-color: #ff7e5f;
  display: flex;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
}
.tours .search-bar div svg {
  color: white;
  cursor: pointer;
}

.safaris {
  padding: 20px;
}
@media screen and (max-width: 480px) {
  .safaris {
    padding: 7.5px 10px;
  }
}
.safaris .filter-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.safaris .filter-wrapper .filter-list svg {
  font-size: 20px;
}
.safaris .filter-wrapper button {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.safaris .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}
@media screen and (max-width: 480px) {
  .safaris .container {
    grid-template-columns: 1fr;
  }
}
.safaris .container .wrapper {
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
  position: relative;
  height: 300px;
  width: 400px;
}
@media screen and (max-width: 480px) {
  .safaris .container .wrapper {
    width: 100%;
  }
}
.safaris .container .wrapper a {
  height: 100%;
}
.safaris .container .wrapper a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  inset: 0;
}
.safaris .container .wrapper .location-arrow {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: large;
  color: white;
}
.safaris .container .wrapper .info {
  bottom: 0;
  width: 100%;
  color: black;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
}
.safaris .container .wrapper .info div {
  padding: 10px;
}
.safaris .container .wrapper .info span {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.safaris .container .wrapper .info span h2 {
  color: white;
}
.safaris .container .wrapper .info .bio {
  background-color: rgba(255, 255, 255, 0.6);
}
.safaris .container .active {
  opacity: 1;
}

.safari-detail {
  padding: 20px;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 480px) {
  .safari-detail {
    padding: 10px;
  }
}
.safari-detail .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  position: relative;
}
@media screen and (max-width: 480px) {
  .safari-detail .wrapper {
    width: 100%;
    grid-template-columns: 1fr;
  }
}
.safari-detail .wrapper .location-arrow {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  font-size: large;
}
.safari-detail .wrapper img {
  width: 100%;
  height: 100%;
}
.safari-detail .wrapper .info {
  background-color: #feb47b;
  padding: 20px;
}
.safari-detail .wrapper .info form {
  display: flex;
  gap: 10px;
}
@media screen and (max-width: 480px) {
  .safari-detail .wrapper .info form {
    flex-direction: column;
  }
}
.safari-detail .wrapper .info form .user-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.safari-detail .wrapper .info form .user-info .names {
  display: flex;
  gap: 5px;
}
.safari-detail .wrapper .info form .user-info .names input {
  width: 100%;
}
.safari-detail .wrapper .info form .user-info .booking-date {
  display: flex;
  gap: 5px;
}
.safari-detail .wrapper .info form .user-info .booking-date input {
  width: 100%;
}
.safari-detail .wrapper .info form .user-info input {
  padding: 10px;
}
.safari-detail .wrapper .info form .book-now {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.safari-detail .wrapper .info form .book-now div {
  display: flex;
  justify-content: space-between;
}
.safari-detail .wrapper .info form .book-now .book-btn {
  justify-content: end;
}
.safari-detail .wrapper .info form .book-now .book-btn button {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  background-color: #ff7e5f;
  border: none;
}
.safari-detail .wrapper .info form .book-now .book-btn button:hover {
  background-color: black;
  color: white;
}

.contact .container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}
@media screen and (max-width: 480px) {
  .contact .container {
    padding: 7.5px 10px;
  }
}
.contact .container form {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 5px;
  background-color: #feb47b;
  padding: 10px;
}
@media screen and (max-width: 480px) {
  .contact .container form {
    width: 100%;
  }
}
.contact .container form div {
  display: flex;
  gap: 5px;
}
.contact .container form div input {
  width: 100%;
}
.contact .container form input {
  padding: 10px;
  border-radius: 5px;
  border: none;
}
.contact .container form textarea {
  padding: 10px;
  border-radius: 5px;
  border: none;
}
.contact .container form .action {
  display: flex;
  align-items: center;
}
.contact .container form .action input {
  background-color: #feb47b;
  cursor: pointer;
  height: 100%;
  padding: 5px;
}
.contact .container form .action button {
  width: 100px;
  cursor: pointer;
  background-color: #ff7e5f;
  border: none;
  border-radius: 5px;
  padding: 10px;
}
.contact .container form .action button:hover {
  color: white;
}

.newsletter {
  padding: 20px;
  background-color: #feb47b;
}
@media screen and (max-width: 480px) {
  .newsletter {
    padding: 20px 10px;
  }
}
.newsletter div {
  width: 50vw;
}
@media screen and (max-width: 480px) {
  .newsletter div {
    width: 100%;
  }
}
.newsletter div h4 {
  text-align: start;
  margin-bottom: 5px;
}
.newsletter div div {
  display: flex;
  gap: 3px;
}
.newsletter div div input {
  padding: 10px;
  border: none;
  border-radius: 5px 0 0 5px;
}
.newsletter div div button {
  width: 100px;
  cursor: pointer;
  background-color: #ff7e5f;
  border: none;
  border-radius: 0 5px 5px 0;
  transition: 0.2s;
}
.newsletter div div button:hover {
  color: white;
  background-color: black;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #ff7e5f;
  padding: 7.5px 20px;
  gap: 10px;
}
@media screen and (max-width: 480px) {
  footer {
    padding: 7.5px 10px;
  }
}
footer .footer1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media screen and (max-width: 480px) {
  footer .footer1 {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
footer .footer1 .discover {
  display: flex;
  flex-direction: column;
}
footer .footer1 .quick-links {
  display: flex;
  flex-direction: column;
}
footer .footer1 .contact {
  display: flex;
  flex-direction: column;
}
footer .footer1 .contact div {
  display: flex;
  align-items: center;
  gap: 5px;
}
footer .footer1 .contact div span {
  font-weight: bold;
}
footer .footer1 a {
  color: black;
}
footer .footer2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
footer .footer2 p {
  text-align: center;
  font-size: small;
}
footer .footer2 .social-links a {
  color: black;
}
footer .footer2 .social-links a svg {
  font-size: 25px;
  margin: 0 2px;
  cursor: pointer;
}

.not-found-page {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #feb47b;
  z-index: 1;
}
.not-found-page div {
  display: flex;
  align-items: center;
  gap: 5px;
}
.not-found-page div h1 {
  background-color: #ff7e5f;
  padding: 20px;
}
.not-found-page span {
  position: fixed;
  left: 20px;
  top: 20px;
}/*# sourceMappingURL=App.css.map */